/** @format */

// $playerContainerHeigth = 3rem;
// $gridHeight: 4.5rem;
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#form-background {
  position: absolute;
  background-image: url(./assets/palm-trees-on-white-beach.jpg);
  // background-image: url(./assets/tropical-summer-beach-art-templates.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;

  #form-container {
    background-color: rgba(255, 255, 255, 0.3);
    width: 50%;
    height: 55%;
    margin: auto;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
      text-align: center;
      font-size: 3rem;
      font-family: Impact;
      color: white;
      margin: 0.7rem 0;
    }
    #form {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
  }
}

#desk-container {
  background-color: #ebc580;
  display: grid;
  grid-template-columns: 9rem 10fr 5fr 2fr 9rem;
  grid-template-rows: 9rem 2fr 9rem 2fr 9rem;
  position: relative;
  width: 100%;
  height: 100%;

  #score-table {
    grid-row: 2;
    grid-column: 2;
  }

  .yaniv-before-button {
    background-image: url(./assets/yanibefore.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
    grid-row: 5;
    grid-column: 5;
  }

  .yaniv {
    background-image: url(./assets/yaniv.jpeg);
    background-size: cover;
    width: 100%;
    height: 100%;
    grid-row: 5;
    grid-column: 5;
  }

  .pile-deck {
    margin-right: 1rem;
    background-image: url(./assets/gray_back.png);
    background-size: cover;
    width: 6rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    grid-column: 2/3;
    margin: 0 auto;
    grid-row: 3;
  }

  .table-deck {
    // background-image: url(./assets/yanivdeck.jpeg);
    background-image: url(./assets/gray_back.png);
    background-size: cover;
    width: 6rem;
    height: 9rem;
    display: flex;
    margin: 0 auto;
    grid-column: 3/4;
    grid-row: 3;
  }
}
.player-profile {
  background-color: yellow;
  display: flex;
}
.current-player,
.top-player {
  .player-profile {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
}

.right-player,
.left-player {
  .player-profile {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.current-player {
  background-color: brown;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-column: 2/5;
  grid-row: 5/6;

  .cards-sum-span {
    background-color: orange;
    display: flex;
    align-content: center;
    padding: 0.5rem;
    margin-left: 0.5rem;
  }
  .player-deck {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .player-card {
    width: 10%;
    height: 100%;
  }
}

.left-player {
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1;
  grid-row: 2/5;
  .cards-sum-span {
    background-color: orange;
    display: flex;
    align-self: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
  }
  .player-deck {
    display: flex;
    flex-direction: column;
  }
  .player-card {
    transform: rotate(90deg);
    margin-left: 3rem;
    width: 36%;
  }
}

.top-player {
  background-color: brown;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  grid-column: 2/5;
  grid-row: 1/2;

  .cards-sum-span {
    background-color: orange;
    display: flex;
    align-content: center;
    padding: 0.5rem;
    margin-right: 0.5rem;
  }
  .player-deck {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .player-card {
    width: 10%;
    height: 100%;
  }
}
.right-player {
  background-color: brown;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  grid-column: 5;
  grid-row: 2/5;

  .cards-sum-span {
    background-color: orange;
    display: flex;
    align-self: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .player-deck {
    display: flex;
    flex-direction: column;
  }
  .player-card {
    transform: rotate(90deg);
    margin-left: 3rem;
    width: 36%;
  }
}

.player-container {
  .id-span {
    display: none;
  }
}

#avatars {
  padding: 0.7rem 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 30px;
}

#avatars input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

#avatars label {
  display: inline-block;
  height: 100%;
  width: 3rem;
  margin: 0 5px;
  padding: 15px 10px;
  font-family: sans-serif, Arial;
  font-size: 10px;
  border: 2px solid #444;
  border-radius: 4px;
}

.avatar-img1 {
  background: url(./assets/avatars/brazil.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 4rem;
  height: 4rem;
}

.avatar-img2 {
  background: url(./assets/avatars/usa.jpg) no-repeat;
  background-size: cover;
  width: 4rem;
  height: 4rem;
}

.avatar-img3 {
  background: url(./assets/avatars/india.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 4rem;
  height: 4rem;
}

.avatar-img4 {
  background: url(./assets/avatars/argentina.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 4rem;
  height: 4rem;
}

#avatars label:hover {
  border-color: white;
  border-width: 4px;
}

#avatars input[type="radio"]:focus + label {
  border-style: outset;
  border-width: 4px;
}

#avatars input[type="radio"]:checked + label {
  border-color: white;
}

.chosen {
  border: solid green;
  border-radius: 10px;
}

.nameInput {
  background-image: url(./assets/WfuIXF.gif);
  background-size: cover;
  background-position: center;
  border: 0;
  outline: 4px solid transparent;
  font-size: 20px;
  height: 3rem;
  width: 20rem;
  color: black;
  margin: 10px 0;
}

.nameInput:hover,
.nameInput:focus {
  outline-color: whitesmoke;
}

.welcome-player-div {
  font-size: 20px;
  margin-bottom: 10px;
}
.welcome-player-div span {
  padding-left: 20px;
  margin-right: 10px;
}

button {
  width: 20rem;
  height: 2rem;
  color: white;
  background-color: rgb(199, 194, 194);
  font-size: 18px;
  margin-top: 5px;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
}
button:active {
  box-shadow: 0 2px rgb(80, 80, 45);
  transform: translateY(4px);
}
